<!doctype html>
<html lang="en">

<head>
    <title>CharithaNet</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/app.css">
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@2.0.0"></script>



</head>

<body id="main-bg">
    <div class="conatiner">
        <div class="row">
            <div class="container-fluid text-center">
                <!-- heading -->
                <div class="container-fluid pt-3">
                    <img src="{{url_for('static', filename='img/main-img.png')}}" class="img" id="main-img" />
                    <div class="form-group">
                        <h3 class="text-dark">ChaithaNet : Diagnostic of COVID-19 Pneumonia through
                            Convolutional Neural Networks Using Chest X-RAY</h3>
                        </div>
                        </div>
            </div>

            <!-- form part -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-sm-9">
                                <div class="form-grou p-3">
                                    <div class="custom-file">
                                        <input type="file" name="file" class="custom-file-input form-control" id="image-selector">
                                        <label class="custom-file-label" for="customFile">Choose file</label>
                                    </div>
                                    <small id="image-selector" class="form-text text-muted">Image should be .png, .jpg
                                        or
                                        .jpeg file
                                        format</small>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <button id="predict-button" class="btn-block btn-info btn-lg">PREDICT</button>
                            </div>
                            </div>
                            <div class="form-group"> <!-- load image -->
                                <div class="form-group">
                                    <img id="selected-image" width="400" src=""
                                        class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" />
                                </div>
                        </div>
                        </div>
                    <div class="col-sm-4  mt-5 pt-5">
                        <div id="result-show" class=" mt-4 pt-4">
                            <!-- result showing part -->
                            <h3>PREDICTION : <span id="result" class="p">...</span></h3>
                            <br>
                            <br>
                            <h2>PROBABILITY : <span id="probability" class="p">...</span></h2>
                            
                            <p>This result not use for medical diagnostic purpose.</p>
                            </div>
                    </div>
                    </div>
                    </div>
                    <!-- code availability  -->
            <div class="container-fluid">
                <p class="text-center">
                    | <a href="https://www.kaggle.com/code/lalithk90/covid-19-identification-with-chest-x-ray">Kaggle</a>
                    |
                    &nbsp;
                    | <a href="https://github.com/LalithK90/Covid-19-Identification-with-Chest-X-Ray">Github -
                        Model
                        Creation Code </a>
                    |
                    &nbsp;
                    | <a href="https://github.com/LalithK90/Covid-19-Identification-with-Chest-X-Ray-Web-app">Github
                        -
                        Web App Source Code</a>
                    |
                </p>
            </div>
            <!-- caution section  -->
            <div class="container-fluid bg-danger ">
                <p class="text-center text-white">This is not for medical diagnostic.
                </p>
            </div>
            <div class="container">
                <p>Publication : <a href="https://fgs.cmb.ac.lk/journal/#1597426890959-fe2b7fde-777f">
                        COLOMBO JOURNAL OF
                        MULTI-DISCIPLINARY RESEARCH</a></p>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-8">
                            <embed
                                src="https://fgs.cmb.ac.lk/wp-content/uploads/1-CJMR_Vol_08_1_and_2_Diagnostic-of-COVID-19-Pneumonia-through-Convolutional-Neural-Networks-Using-Chest-X-RAY.pdf"
                                style="width: inherit;" height="800px" />
                        </div>
                        <!-- about us -->
                        <div class="col-sm-4">
                            <p>Lalith Kahatapitya
                                &#64; <a href="http://www.pgis.pdn.ac.lk/">Postgraduate Institute of
                                    Science, University of Peradeniya, Sri Lanka</a></p>
                            <p>Pamuditha Liyanage
                                &#64; <a href="http://www.pgis.pdn.ac.lk/">Postgraduate Institute of
                                    Science, University of Peradeniya, Sri Lanka</a></p>
                            <p>Suranga Bandara
                                &#64; <a href="http://www.pgis.pdn.ac.lk/">Postgraduate Institute of
                                    Science, University of Peradeniya, Sri Lanka</a></p>
                            <p>Ashi Madushi
                                &#64; <a href="http://www.pgis.pdn.ac.lk/"> Department of Information
                                    Technology, SIBA Campus, Sri Lanka</a></p>
                        </div>
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="../static/js/app.js"></script>
</body>



</html>