<!doctype html>
<html lang="en">

<head>
    <title>CharithaNet</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/app.css">
</head>

<body id="main-bg">
    <header>
        <div class="container-fluid text-center">
            <!-- heading -->
            <div class="container-fluid pt-3">
                <div class="form-group">
                    <h3 class="text-dark">ChaithaNet</h3>
                </div>
            </div>
    </header>

    <!-- Main container  -->
    <div class="container text-center">
        <!-- main image part -->
        <div class="container-fluid">
            <div class="form-group">
                <img src="{{url_for('static', filename='img/main-img.png')}}" class="img" id="main-img" />
            </div>
        </div>

        <!-- form part -->
        <div class="container-fluid">
            <div class="form-group">
                <div class="custom-file">
                    <input type="file" name="file" class="custom-file-input form-control" id="image-selector">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
                <small id="image-selector" class="form-text text-muted">Image should be .png, .jpg or .jpeg file
                    format</small>

            </div>
            <!-- load image -->
            <div class="form-group">
                <img id="selected-image" width="400" src=""
                    class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" />
            </div>
            <div class="form-group">
                <button id="predict-button" class="btn-block btn-info btn-lg">PREDICT</button>
            </div>
        </div>

        <!-- result showing part -->
        <div class="container-fluid">
            <table class="table table-striped table-inverse " id="result-show">
                <thead class="thead-inverse">
                    <tr>
                        <th>PREDICTION</th>
                        <th>PROBABILITY</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><span id="result" class="p">...</span></td>
                        <td><span id="probability" class="p">...</span></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <!-- code availability  -->
    <section>
        <div class="container-fluid">
            <div class="ml-5">
                <p class="text-center">
                    <a href="https://www.kaggle.com/code/lalithk90/covid-19-identification-with-chest-x-ray">Kaggle</a>
                    &nbsp;
                    <a href="https://github.com/LalithK90/Covid-19-Identification-with-Chest-X-Ray">Github &nbsp;
                        Model
                        Creation Code </a>
                    &nbsp;
                    <a href="https://github.com/LalithK90/Covid-19-Identification-with-Chest-X-Ray-Web-app">Github
                        &nbsp; Web
                        App Source Code</a>
                </p>
            </div>
        </div>
    </section>
    <!-- caution section  -->
    <section>
        <div class="container-fluid">
            <p class="text-center bg-danger text-white">Here is an example of a model. not recommended for medical
                diagnosis
            </p>
        </div>
    </section>

    <!-- about me -->
    <footer>
        <p class="text-center">Lalith Kahatapitya &#64; <a href="http://www.pgis.pdn.ac.lk/">PGIS - University of
                Peradeniya</a></p>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="../static/js/app.js"></script>

</body>

</html>